<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>

<h2>Register</h2>

<form method="post">
    {% csrf_token %}

    <label>Full Name:</label><br>
    {{ form.full_name }}<br>
    <span style="color:red;">{{ form.full_name.errors }}</span><br><br>

    <label>Email:</label><br>
    {{ form.email }}<br>
    <span style="color:red;">{{ form.email.errors }}</span><br><br>

    <label>Password:</label><br>
    {{ form.password }}<br>
    <span style="color:red;">{{ form.password.errors }}</span><br><br>

    <button type="submit">Register</button>
</form>

{% if message %}
    <h3 style="color:green;">{{ message }}</h3>
{% endif %}

</body>
</html>